<h1>Hur vi hanterar dina person uppgifter</h1>

<p>
    Vi lägger stor vikt på våra kunders personuppgifter och vill aldrig lagra något i onödan.
    Här kan du läsa om hur vi hanterar era uppgifter och hur om hur vi värnar om era rättigheter.
</p>


<h3>
    Personuppgifter som vi samlar ifrån dig
</h3>

<p>
    I samband med att ni handlar eller registrerar er på våran hemsida måste vi lagra en del uppgifter om er för att kunna
    leverera våra tjänst.
</p>

<p>
    Exempel på personuppgifter so mvi samlar om dig är:
    <ul>
        <li>Namn</li>
        <li>Kontaktuppgifter (telefon, email)</li>>
        <li>Address</li>
        <li>Orderhistorik</li>
    </ul>
</p>

<h3>
    Varför lagrar vi dina uppgifter?
</h3>

<p>
    <ul>
        <li>För att kunna leverera våra produkter eller tjänster</li>
        <li>Kunna hantera returer</li>
        <li>För att kunna bekräfta eran identitet.</li>
        <li>Marknadsföring</li>
    </ul>
</p>

<h3>Dina rättigheter</h3>

<p>Det är viktigt att du känner till dina egna rättigheter när det kommer till personligdata som lagras.</p>
<p>Du har rätt till att se vilken data vi har på dig, du har även rätt att kunna ändra denna data.</p>
<p>Du har rätt att göra en begäran om att få dina personuppgifter raderade om du vill det.</p>


<h3>Cookies</h3>

<p>Vi lagrar temporärt data i både sessioncookies och tidsbegränsade cookies.</p>
<p>Detta är för att vi ska kunna hantera eran varukorg samt att kunna spara den ifall ni råkar stänga fönstret.</p>
<p>Det är även viktigt för att kunna hålla dig inloggad så du kan använda webbsidan på ett bra sätt</p>